cmapy==0.6.6
crcmod==1.7
entity==0.8.0
imutils==0.5.4
loguru==0.7.3
matplotlib==3.10.3
numpy==2.3.1
opencv_python==4.11.0.86
pandas==2.3.0
psutil==7.0.0
pycryptodomex==3.23.0
PyQt6==6.9.1
PyQt6-Charts==6.9.0
PyQt6_sip==13.10.0
pyrealsense2==2.55.1.6486
pyserial==3.5
PyYAML==6.0.2
PyYAML==6.0.2
ultralytics==8.3.130
